[submodule "Summitek EXT"]
	path = Summitek EXT
	url = git@10.68.23.184:/Libraries/LabView/Summitek.git
[submodule "ITK EXT"]
	path = ITK EXT
	url = git@10.68.23.184:/Libraries/LabView/ITK.git
[submodule "EasyXML EXT"]
	path = EasyXML EXT
	url = git@10.68.23.184:/Libraries/LabView/EasyXML.git
